@font-face {
  font-family: 'AnglicanText';
  src: url(./fonts/anglicantext/AnglicanText.ttf);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* utilities */

.game-title {
  font-family: 'AnglicanText', serif;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.fill {
  background: #eee;
  border: 3px solid #ccc;
}

/* Layouts */
#app {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  color: #fff;
  padding-block: 30px;
  position: fixed;
}

#turns {
  font-size: 2rem;
  margin-block: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#turns h3 {
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 0.5rem;
  border: 2px solid #991188;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
}

#screen {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.column {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.turn-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 2px dashed #555;
  width: 265px;
  height: 30px;
  padding: 5px;
}

.indicator {
  width: 15px;
  height: 15px;
  border: 1px solid #111;
  border-radius: 100%;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.level-text {
  color: #abcdef;
  font-weight: bold;
  text-shadow: #FC0 1px 0 10px;;
}

#computer,
#player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#choice-screen-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-block: 1.5rem;
}

#computer-choice .choice-screen {
  justify-content: flex-start;
}

#player-choice .choice-screen {
  justify-content: flex-end;
}

.choice-screen {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

#battle {
  background-color: #000;
  width: 80px;
  height: 80px;
  text-align: center;
  border: 3px solid #bbb;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

#result-text {
  margin-block: 1rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(47 0 0 / 60%);
  padding: 0.5rem;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#choices {
  display: flex;
  justify-content: center;
}

.play-next {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.choices-wrap,
.play-next {
  border: 2px solid #aaa;
  max-width: 400px;
  padding: 10px;
}

.choices-wrap button,
.play-next button {
  background-color: #333;
  padding: 0.5rem;
  outline: none;
  border: 1px solid #000;
  cursor: pointer;
  color: #ddd;
}

.play-next button {
  border: 2px solid #acacac;
}

.choices-wrap button:hover,
.play-next button:hover {
  background: darkred;
}

.choices-wrap button:disabled,
.play-next button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.slide-left {
  animation: slideLeft 1.5s forwards;
}

.slide-right {
  animation: slideRight 1.5s forwards;
}

/* Animation */
@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-430%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(430%);
  }
}
